
 /* Global Layout Set-up */

* { 
  box-sizing: border-box;
  }

/* Body Styles */
  body {
    font-family: 'Hind', sans-serif;
    font-size: 100%;
    color: #222;  
  }

/* Header Styles */
  .main-header,
  .nav {
    display: flex;
    flex-direction: column;
    background: rgb(246, 246, 246);  
  }
 h1 {
  display: block;
  color: black;
  text-align: center;
  padding: 0 0 0 1em;
 }
 .nav,
 li {
  margin: 0;
  padding: 0;
}
 .nav a {
  display: block;
  color: black;
  font-size: 1.50em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
 }
 ul {
  list-style-type: none;
 }
 .nav a:hover {
  color: rgb(30, 116, 156);
 }

 /* Banner Styles */
 .banner {
   background-color: rgb(246, 246, 246);
 }
.banner img {
  max-width:100%;
  height:auto; 
}
.banner p {
  display: block;
  text-align: center;
}
h2 {
  display: block;
  text-align: center;
}

/* Main Styles */
.center {
  max-width:100%;
  height:auto;
  background-color:white;
}
.contact {
  text-align: center;
  padding: 1.75em 0 0 0;
  background: rgb(246, 246, 246);     
}

/* Footer Styles */
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  background:  rgb(246, 246, 246);   
}
.main-footer {
  border-top: .1em solid  rgb(241, 241, 241);
  padding: 30px 6px 30px 6px;
}
.main-footer a {
  color: black;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}
.main-footer li {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}


  /* --------------------------
  Media Queries 
  --------------------------- */

  /* Media Queries 320 */
  @media (min-width: 320px) {
    .nav a {
      background-color: white;
      border: 1px solid  rgb(246, 246, 246);   
      text-decoration: none;
      padding: 0.2em .5em;
      margin-bottom: .2em; 
     }
    .pro-image {
      align-self: center;
      margin-top: 2em;
      margin-bottom: 0.1em;
      margin-left: 2em;
      width: 80%;
    }
    .banner p {
      margin-left: 3%;
      margin-right: 3%;
      padding-bottom: 3em;
      text-align: center;
    }
    .title {
      padding-top: 5%;
      padding-bottom: 5%;
    }
    .row {
      margin-bottom: 3em;
    }
    .column p {
      text-align: center;   
    }
    .contact-heading {
      margin-top: 8%;
      margin-bottom: 1em;
    }
    .contact {
      padding-bottom: 3em;
    }
    .main-footer {
      margin-top: 0;
    }


  }

/* Media Queries 768 */
  @media (min-width: 768px) {
    .main-header { 
      justify-content: space-between;
      padding-top: 6%;
    }
    .nav {
      display: box;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 4%;
      padding-left: 13em;
      padding-right: 13em;
    }
    .nav a {
      font-size: 1.50em;
      font-weight: 700;
      text-align: center;  
      text-decoration: none;
     }
     .nav a {
      padding: 0 .5em 0;
      margin-bottom: .2em; 
     }
    .banner {
      display: flex;
      flex-direction: row-reverse;
      padding-top: 2em;
      border-bottom: 4em solid rgb(246, 246, 246); 
    }
    .banner p {
      text-align: left;
      margin-left: 6%;
      margin-right: 5%;
      margin-top: -1mm;
    }
    .nav a {
      background-color: rgb(246, 246, 246);
    }

   .banner img {
      width: 45%;
      height: auto;
      margin-left: auto;
      margin-right: 5%; 
    }
   .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }
   .column {
      flex: 50%;
      padding: 0 4px;
    }

   .column img {
    margin-top: 8px;
    vertical-align: middle;
   }
   .contact p {
    display: flex;
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;
   }
  }

/* Media Queries 1024 */
  @media (min-width: 1024px) {
    .main-header {
      flex-direction: row;
    }
      .nav {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 3%;
    }
    h1 {
      margin-right: auto;
      margin-left: 4%;
      margin-top: 0.6%;
    }
    .banner {
      display: flex;
      flex-direction: row-reverse;
      padding-left: 1em;
      padding-right: 0%;
    }
    .banner p {
      font-size: 6m;
      text-align: left;
      margin-left: 2.75%;
      margin-right: 4%;
    }
    .pro-img {
      margin-left: 15%;
      margin-right: 0%;
    }
    .column {
      float: left;
      width: 33.33%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  }
 
  /*  

    .column {
      flex: 50%;
      padding: 0 4px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
    .column img {
      float: left;
      width: 33.33%;
    }
   
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  } 
  */